#!/usr/bin/env bash
# Brewfile hash: {{ include "Brewfile" | sha256sum }}
set -e

echo "Installing Homebrew packages..."

brew bundle --file="{{ .chezmoi.sourceDir }}/Brewfile"

BREW_PREFIX=$(brew --prefix)

if [ ! -L "${BREW_PREFIX}/bin/sha256sum" ]; then
    ln -s "${BREW_PREFIX}/bin/gsha256sum" "${BREW_PREFIX}/bin/sha256sum" || true
fi

$(brew --prefix)/opt/fzf/install --key-bindings --completion --no-update-rc || true

if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

brew cleanup || true

echo "Homebrew packages installed"
