#!/usr/bin/env bash
# Brewfile hash: {{ include "Brewfile" | sha256sum }}
set -e
{{- if eq .chezmoi.arch "arm64" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else }}
eval "$(/usr/local/bin/brew shellenv)"
{{- end }}

echo "Installing Homebrew packages..."

brew bundle --file="{{ .chezmoi.sourceDir }}/Brewfile"

BREW_PREFIX=$(brew --prefix)

if [ ! -L "${BREW_PREFIX}/bin/sha256sum" ]; then
    ln -s "${BREW_PREFIX}/bin/gsha256sum" "${BREW_PREFIX}/bin/sha256sum" || true
fi

$(brew --prefix)/opt/fzf/install --key-bindings --completion --no-update-rc || true

brew cleanup || true

echo "Homebrew packages installed"
