[user]
	name = Helder Burato Berto
	email = helder.burato@gmail.com
[alias]
	ci = commit -m
  ca = commit add --all && git commit -m
	a  = commit --amend
	am = commit --amend --all
	s  = status
	pf = push --force
	pu = push
	l  = log --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset'
	lc = log -1 --stat
	lg = log --color --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset'
	uc = reset HEAD~
	rh = reset --hard
	co = checkout
	df = diff --color --color-words --abbrev
	cp = cherry-pick
	d  = difftool
	ru = rebase-update
	b  = branch
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	precomposeUnicode = true
[rebase]
	autosquash = true
[push]
	default = current
[pull]
	default = current
