[user]
	name = Helder Burato Berto
	email = helder.burato@gmail.com
[alias]
	c = commit -m
	ca = !git add -A . && git commit -m
	am  = commit --amend
	an  = commit --amend --no-edit
	st  = status
	pf = push --force
	pu = push
	l  = log --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset'
	lc = log -1 --stat
	lg = log --color --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset'
	uc = reset HEAD~
	rh = reset --hard
	co = checkout
	df = diff --color --color-words --abbrev
	cp = cherry-pick
	d  = difftool
	br  = branch
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	precomposeUnicode = true
[rebase]
	autosquash = true
[push]
	default = current
[pull]
	default = current
  rebase = true
