{{- $sshEmail := "" -}}
{{- if not (env "CI") -}}
{{-   $sshEmail = promptStringOnce . "ssh_email" "SSH key email" -}}
{{- end -}}
[data]
    email = "helder.burato@gmail.com"
    name = "Helder Burato Berto"
    ssh_email = "{{ $sshEmail }}"

[edit]
    command = "nvim"
