[submodule "neovim/.config/nvim/plugged/fzf"]
	path = neovim/.config/nvim/plugged/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "neovim/.config/nvim/plugged/vim-javascript"]
	path = neovim/.config/nvim/plugged/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "neovim/.config/nvim/plugged/typescript-vim"]
	path = neovim/.config/nvim/plugged/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "neovim/.config/nvim/plugged/emmet-vim"]
	path = neovim/.config/nvim/plugged/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "neovim/.config/nvim/plugged/editorconfig-vim"]
	path = neovim/.config/nvim/plugged/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
