# Navigate
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias ws="cd $HOME/workspace"
alias vs="cd $HOME/vaults"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty Trash
# You have to give to your terminal Full Disk permissions in the security settings
# Security & Privacy > Privacy > Full Disk Access > Your Terminal
alias trash="rm -fr ~/.Trash"

# Brew
alias b="brew"
alias bt="brew tap"
alias bi="brew install"
alias brm="brew uninstall"
alias bu="brew -v update; brew upgrade --force-bottle; brew cleanup; brew doctor"
alias bc='brew install --cask'

# ls overwrite by exa
# https://the.exa.website/
alias l='exa'
alias ls='exa'
alias ll='exa -l'
alias lll='exa -l | less'
alias lla='exa -la'
alias llt='exa -T'
alias llfu='exa -bghHliS --git'

# Net
alias iplocal="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Shortcuts
alias g="git"
alias vim="nvim"
alias v="nvim"
alias e='emacsclient -c -n -a ""'
alias d="docker"
alias dc="docker-compose"

# File size
alias fs="stat -f \"%z bytes\""

# Clear projects node_modules
alias rmnm="rm -rf node_modules"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
