# Navigate faster
alias ws="cd $HOME/workspace"
alias labs="cd $HOME/workspace/labs"

# Find Aliases
alias al="less ~/.aliases"
alias alf="less ~/.aliases | grep"
alias gal="g al"
alias gaf="g al | grep"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty Downloads on macOS
alias dclean="cd ~/Downloads; rm -fr *;cd -"

# Brew
alias b="brew"
alias bt="brew tap"
alias bi="brew install"
alias brm="brew uninstall"
alias bu="brew -v update; brew upgrade --force-bottle; brew cleanup; brew doctor"
alias bc='brew install --cask'

# ls overwrite by exa
# https://the.exa.website/
alias l='exa'
alias ls='exa'
alias ll='exa -l'
alias lll='exa -l | less'
alias lla='exa -la'
alias llt='exa -T'
alias llfu='exa -bghHliS --git'

# Net
alias iplocal="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Git
alias g="git"
alias lg="lazygit"

# {n}vim
alias v="nvim"
alias vim="nvim"

# Yarn
alias y="yarn"
alias yui="yarn upgrade-interactive"
alias yuil="yarn upgrade-interactive --latest"

# Docker
alias d="docker"
alias dr="docker run"
alias drd="docker run -d"
alias di="docker images"
alias dri="docker rmi"
alias dp="docker ps"
alias dpa="docker ps -a"
alias dsp="docker system prune --all"
alias drf='docker rm $(docker ps -a -q) -f'

## Docker Compose
alias dc="docker-compose"
alias dcu="docker-compose up"
alias dcud="docker-compose up -d"
alias dcufb="docker-compose up --force-recreate --build"
alias dcd="docker-compose down"
alias dcl="docker-compose logs --tail=all | grep"
alias dcdri="docker-compose down --rmi all --remove-orphans"

# File size
alias fs="stat -f \"%z bytes\""

# Clear projects node_modules
alias rnm="rm -rf node_modules"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# tldr with fzf
alias tldrf='tldr --list | fzf --preview "tldr {1}" --preview-window=right,60% | xargs tldr'

# clear
alias c="clear"
